<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>285661586812-a4gfiobmc2m370nlrjk43l34e8ire0v5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285661586812-a4gfiobmc2m370nlrjk43l34e8ire0v5</string>
	<key>API_KEY</key>
	<string>AIzaSyCK33Ywz9tnMmTl6bT-ec4rwODoFb3yFcA</string>
	<key>GCM_SENDER_ID</key>
	<string>285661586812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidbratton.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-1cb04</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-1cb04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285661586812:ios:3115e35d78e394c7</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-1cb04.firebaseio.com</string>
</dict>
</plist>